/* Here we can set styles for this lab page that we don't want to affect other pages */

/* Style for .minor-section class */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

/* Style for the image with id 'file-structure' */
#file-structure {
  width: 20px;
  height: 20px;
}
