/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #f7cef6;
  background-color: #bbec93;
}

p.cursive {
  font-family: cursive;
}

div#img-box {
  float: right;
}

#img-box img {
  max-width: 50%;
}

.highlight {
  font-weight: bold;
  background-color: #f9b9d7;
}
