/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section 
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px
    background-color:pink
 p{
  .cursive {
    font-family: cursive;
}
  div#img-box{
    float: right;
  }
  #img-box ig{
    max-width: 50%
  }
  highlight{
    font-weight: bold;
    background-color:#f9b9d7
  }
  }